<!DOCTYPE html>
<html>
<head>
  <title>Deisgner</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div style="float: left">
		<%= link_to "Users", users_path %> | 
		<%= link_to "Admin", admin_path %> | 
		<%= link_to "Deisgns", deisgns_path %> | 
	</div>
	<div style="float: right">
		<% unless session[:user_id] %>
			<%= link_to "Login", login_path %> | 
		<% else %>
			<%= link_to "Logout", logout_path, method: :delete %> | 
		<% end %>
	</div>
	<div style="clear: both;">&nbsp;</div>
	<hr />

	<%= yield %>

</body>
</html>
